:root {
  --result: 28vh;
  --white: #FDFFFC;
  --underground: #D4CB92;
  --main-color: #091540;
  --sky: #5FBFF9;
  --sea: #507DBC;
}

html {
  overflow: hidden;
}
body {
  max-height: 100%;
  background-color: var(--sky);
  font-family: Helvetica;
  color: var(--white);
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
h1 {
  color: var(--white);
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  margin-bottom: 0.5em;
}
.header {
  height: 20vh;
  display: flex;
  align-items: center;
}
.title {
  padding: 5vw;
}

.label {
  max-width: 420px;
  font-size: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.input-field {
  background-color: var(--sea);
  border: solid 1px var(--white);
  color: var(--white);
  border-radius: 50px;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

#location {
  width: 80vw;
  max-width: 400px;
}

#button {
  background-color: var(--sea);
  border: solid 2px var(--white);
  border-radius: 50px;
  color: var(--white);
  font-size: 1.5em;
  font-weight: 300;
  padding: 15px 25px;
  opacity: 0.8;
}
#button:hover {
  opacity: 1;
}

#calculation {
  text-align: center;
  margin-top: 40px;
  font-weight: 400;
}

::placeholder {
  color: var(--white);
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.4;
}

.frame {
  position: absolute;
  bottom: 0px;
  height: 80vh;
  width: 100vw;
}

#front-container {
  background-color: var(--sea);
}

#solution {
  padding: 5vw;
  text-align: center;
  font-size: 1em;
  color: white;
}
.death-year {
  margin-top: 10px;
  font-weight: 400;
  font-size: 2em;
}


.green {
  color: green;
}
.red {
  color: #F24236;
}

.sky {
  height: 20vh;
}
#person {
  position: absolute;
  height: 10vh;
  right: 15vw;
  top: 30vh;
}
.front-land {
  display: flex;
  flex-wrap: wrap;
  align-items: bottom;
  width: 100vw;
  height: 30vh;
}
.left {
  flex-grow: 1;
}
.incline {
  border-left: 50vw solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 30vh solid var(--underground);
}
.incline-container {
  flex-grow: 1;
  max-width: 75vw;
}
.underground {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--underground);
  height: 30vh;
}

#sea {
  position: absolute;
  top: 67vh;
  background-color: var(--sea);
  opacity: 0.8;
  height: 50vh;
  width: 100vw;
}

.slide-out {
  animation-duration: 2s;
  animation-name: slideout;
  animation-fill-mode: forwards;
}
@keyframes slideout {
  from {
    position: absolute;
    top: 20vh;
  }
  to {
    position: absolute;
    top: 100vh;
  }
}

.slide-in {
  animation-delay: 2s;
  animation-duration: 3s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
}
@keyframes slide-in {
  from {
    position: absolute;
    top: 67vh;
  }
  to {
    position: absolute;
    top: var(--result);
  }
}
#touch{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
